body,
html {
    width: 90%;
    height: 90%;
    margin: 10px;
    background-color: #efede6;
}

.main{
  background: url(../images/blisly.png) no-repeat center center;
  background-size: cover;
  height:110%;
  position:relative;  
}
